*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --upload-button-color: #4080E1;
    --clear-button-color: #FC9184;
    --combine-button-color: rgb(63, 63, 63);
    --anguler-size: 40px;
}


.container{
    height: fit-content;
    width: fit-content;
    margin: 10px;
    position: relative;
}

.container:hover{
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgb(214, 214, 214);
    cursor:move;
}

.cross_icon{
    height: 15px;
    width: 15px;
    position: absolute;
    top: -.19rem;
    right: -.1rem;
    background-color: white;
    border-radius: 100%;
    border: 3px solid white;
    color: var(--clear-button-color);
    box-shadow: 0px 0px 2px rgb(175, 175, 175);
    cursor: pointer;
}

.cross_icon:hover{
    color: #eb614f;
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
}

.image{
    height: 8rem;
    width: 8rem;
    border-radius: 8px;
    object-fit: cover;
}